<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>Delete Book</h1>
    <p>Are you sure you want to delete {{name}}?</p>
    <br/>
    <form action="{{url_for('deleteBook', book_id = book_id)}}" method='POST' id = 'f1'></form>
    <button type="submit" form ='f1'>Delete</button>
    <a href="{{url_for('showBook')}}">Cancel</a>
  </body>
</html>
